<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="fw-bold">
            <i class="bi bi-list-ul me-2"></i>Danh sách sản phẩm
        </h3>
        <a href="/products/create" class="btn btn-success rounded-pill">
            <i class="bi bi-plus-circle me-1"></i> Thêm sản phẩm
        </a>
    </div>
    <div class="mb-3 d-flex align-items-center gap-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkAll">
            <label class="form-check-label" for="checkAll">
                Chọn tất cả
            </label>
        </div>

        <button id="bulkDeleteBtn" class="btn btn-sm btn-outline-danger d-none" data-bs-toggle="modal"
            data-bs-target="#deleteProductModal">
            <i class="bi bi-trash me-1"></i>Xóa đã chọn
        </button>
    </div>


    <div class="table-responsive">
        <form class="d-flex mb-3" method="GET" action="/products/list">
            <input type="text" class="form-control me-2" name="q" placeholder="Tìm theo tên sản phẩm..."
                value="{{query}}">
            <button class="btn btn-outline-primary">
                <i class="bi bi-search"></i>
            </button>
        </form>
        <table class="table table-hover align-middle shadow-sm">
            <thead class="table-warning">
                <tr>
                    <th></th>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Hình ảnh</th>
                    <th>Mô tả</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{this._id}}" name="productIds[]">
                        </div>
                    </td>
                    <td class="fw-semibold">{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td class="text-danger fw-semibold">
                        {{this.price}} đ
                    </td>
                    <td>
                        <img src="{{this.image}}" class="img-product rounded" alt="{{this.name}}">
                    </td>
                    <td style="max-width: 220px; white-space: normal;">
                        {{this.description}}
                    </td>
                    <td class="text-center">
                        <a href="/products/{{this._id}}/edit" class="btn btn-sm btn-outline-primary me-1">
                            <i class="bi bi-pencil-square me-1"></i>Sửa
                        </a>
                        <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteProductModal" data-id="{{this._id}}">
                            <i class="bi bi-trash me-1"></i>Xóa
                        </button>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="6" class="text-center">Không có sản phẩm nào</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="deleteProductModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header border-0">
                <h5 class="modal-title text-danger fw-bold">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>Xác nhận xóa
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center">
                <p>Bạn có chắc chắn muốn xóa sản phẩm này không?</p>
            </div>

            <form id="delete-product-form" method="POST">
                <div class="modal-footer border-0 justify-content-center">
                    <button type="submit" class="btn btn-danger px-4">
                        <i class="bi bi-trash-fill me-1"></i>Xóa bỏ
                    </button>
                    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">
                        Hủy
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<form id="bulk-delete-form" method="POST">
    <input type="hidden" name="ids" id="bulk-delete-ids">
</form>
<script>
    const deleteProductModal = document.getElementById('deleteProductModal')
    const deleteForm = document.getElementById('delete-product-form')
    const checkAll = document.getElementById('checkAll')
    const checkboxes = document.querySelectorAll('input[name="productIds[]"]')
    const bulkDeleteBtn = document.getElementById('bulkDeleteBtn')
    const bulkDeleteForm = document.getElementById('bulk-delete-form')
    const bulkDeleteIdsInput = document.getElementById('bulk-delete-ids')
    let deleteType = 'single'
    let singleDeleteId = null

    deleteProductModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget

        if (button.dataset.id) {
            deleteType = 'single'
            singleDeleteId = button.dataset.id
        } else {
            deleteType = 'bulk'
        }
    })

    deleteForm.addEventListener('submit', function (e) {
        e.preventDefault()

        if (deleteType === 'single') {
            deleteForm.action = `/products/${singleDeleteId}/delete?_method=DELETE`
            deleteForm.submit()
        }

        if (deleteType === 'bulk') {
            const ids = Array.from(checkboxes)
                .filter(cb => cb.checked)
                .map(cb => cb.value)

            bulkDeleteIdsInput.value = ids.join(',')
            bulkDeleteForm.action = `/products/bulk-delete?_method=DELETE`
            bulkDeleteForm.submit()
        }
    })

    checkAll.addEventListener('change', function () {
        let anyChecked = this.checked
        checkboxes.forEach(checkbox => {
            checkbox.checked = anyChecked
        })
        toggleBulkDeleteButton()

    })

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            checkAll.checked = Array.from(checkboxes).every(cb => cb.checked)
            toggleBulkDeleteButton()
        })
    })

    function toggleBulkDeleteButton() {
        const anyChecked = Array.from(checkboxes).some(cb => cb.checked)
        if (anyChecked) {
            bulkDeleteBtn.classList.remove('d-none')
        } else {
            bulkDeleteBtn.classList.add('d-none')
        }
    }
</script>